<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    {{!-- <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed --}}
  </p>
  <img src="{{picture_url}}" alt="picture">

  <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDd6Zz50zRFAF23xF_enGMHHT_QTUxsMqM
    &q={{location}}">
</iframe>

  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
