<body>
  <div class="row">
    <div class="col-md">
<div class="text-center">
  <h2>{{name}}</h2>
  <p> {{time_of_event}} on {{date_of_event}}</p>
  <p>{{description}}</p>
  <p>hosted by {{user.name}}</p>
  </div>
  <div class="col-md">
  <img src="{{picture_url}}" alt="picture" style="width:300px;height200px">
  </div>
  </div>
<br>
  <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDd6Zz50zRFAF23xF_enGMHHT_QTUxsMqM
    &q={{location}}">
</iframe>
</div>
</body>